/* General CSS*/ 
body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: aliceblue;
}

.intro-text { 
  background-color: beige;
  height: 100px;
  width: 500px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.input:focus{
  outline: none;
  box-shadow: none;
}

/* Question cell container - css flex box layout*/ 
.programming-language-suggester-quiz-container { 
}


/* Prograamming Language Suggestor form - child element*/ 
#progammingLanguageSuggestor{
  display: flex;
  height: 300px; 
  margin: auto;
  flex-flow: row;
  justify-content: space-between;
}




/* Question cell - child element*/ 
.question-cell-left, .question-cell-second-left, .question-cell-center, .question-cell-second-right, .question-cell-center, .question-cell-right{
  background-color: rgb(176, 201, 176);
  border-radius: 10px; 
  overflow: hidden;
  height: 200px;
  width: 200px;
 
}
/* Submit Button */ 
.submit button{ 
  background-color: white;
  height: 50px;
  width: 70px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 0px;
  float: right;
  font-size: large;
  font-weight: 300;
  font-style: italic;
}
/* Results Area CSS*/

#results-area{
  background-color: rgb(178, 207, 186);
  height: 200px;
  width: 500px;
  border-radius: 7px;
  position: fixed;
  overflow: hidden;
}

/* Results Area CSS*/
#refresh { 
  background-color: rgb(178, 207, 186);
  border: none;
  font-weight: 500px;
  font-size: large;
  position: absolute;
  bottom: 0; 
  right: 0;
  ;
}