body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: aliceblue;
}

.intro-text { 
  background-color: beige;
  height: 100px;
  width: 500px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Question cell container - css flex box layour*/ 
.programming-language-suggester-quiz-container { 
}


/* Prograamming Language Suggestor form - child element*/ 
#progammingLanguageSuggestor{
  display: flex;
  height: 300px; 
  margin: auto;
  flex-flow: row;
  justify-content: space-between;
}




/* Question cell - child element*/ 
.question-cell-left, .question-cell-second-left, .question-cell-center, .question-cell-second-right, .question-cell-center, .question-cell-right{
  background-color: rgb(176, 201, 176);
  border-radius: 10px; 
  overflow: hidden;
  height: 200px;
  width: 200px;
 
}
/* Results Area CSS*/
.results-area{
  background-color: aliceblue;
}