.question-cell-left, .question-cell-second-left, .question-cell-center, .question-cell-second-right, .question-cell-center, .question-cell-right{
  background-color: aqua;
  border-radius: 30px; 
  border: 10px;
  overflow: hidden;
  height: 200px;
  max-height: 35vh;
}
/* Results Area CSS*/
.results-area{
  background-color: aliceblue;
}